<section id="pages-intro" class="hero is-fullheight is-success is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 id="mountain-title" class="title"> Mountain</h1>
      <br>
      <h2 class="subtitle">
        To help you detonate <br>
        your mountain of debt.
      </h2>
      <%= link_to 'Sign Up', sign_up_path, class: 'button is-primary' %>
      <%= link_to 'Sign In', sign_in_path, class: 'button is-light' %>
    </div>
  </div>
</section>
