@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');

// Set your brand colors
$midnight-blue: #0A3A61;
$blue-sapphire: #0E5681;
$sea-blue: #146894;
$seafoam-green: #089C7E;
$crayola-yellow: #FDE88A;
$middle-red: #EF946A;
$chinese-orange: #E9683B;
$background-grey: #ededed;
$box-shadow-grey: #dedede;
$diminished-grey: #b5b5b5;
$mountain-grey: #363636;

// Update Bulma's global variables
$family-sans-serif: 'Sen', sans-serif;
$grey-dark: $midnight-blue;
$info: $sea-blue;
$danger: $chinese-orange;
$primary: $sea-blue;
$link: $chinese-orange;
$success: $seafoam-green;
$warning: $crayola-yellow;
$body-background-color: $background-grey;

$header-and-foot-height: 274px;

@mixin white-card-with-shadow {
  padding: 2em;
  background: white;
  box-shadow: 3px 3px 1em $box-shadow-grey;
  border-radius: 6px;
}

a {
  transition: color .2s ease;
}

.button {
  transition: background-color .2s ease;
}

a.button.is-text {
  color: $diminished-grey;
  text-decoration: none;
}

#main-container {
  min-height: calc(100vh - #{$header-and-foot-height});
  margin-top: 1em;
  margin-bottom: 2em;
}
