#mountain-navbar {
  margin-bottom: 1.5em;
  background-color: $seafoam-green;

  #navbar-logo {
    font-size: 1.75em;
    color: white;

    #logo-container {
      padding: 0 .25em;

      svg {
        color: $mountain-grey;
      }

      border: 3px solid $seafoam-green;
      transition: border .3s ease;

      &:hover {
        border: 3px solid white;
      }
    }
  }

  .navbar-item p {
    margin-left: 1em;
    display: none;
  }

  @media screen and (max-width: 1023px){
    .navbar-menu {
      text-align: right;
      padding-right: 3em;

      .navbar-item p {
        display: block;
      }
      .navbar-item .button {
        min-width: 30%;
      }
    }
  }
}
