<footer id="footer" class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Mountain</strong> by <a target="_blank" href="https://www.amyers.io">Adam Myers</a>
    </p>
  </div>
</footer>
